* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* HERO SECTION */

.hero {
    background-color: #1F2937;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 0 10% 0 10%;
}

/* .hero-section {
    background-color: #1F2937;
} */

.hero-main-text {
    color: #F9FAF8;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 100px;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 1.125rem;
    margin-bottom: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 50px;
    padding-top: .7rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    margin-top: 10px;
}

nav > a {
    color: #E5E7EB;
    font-size: 1.125rem;
    padding: 1rem;
    text-decoration: none;
}

.placeholder-image {
    float: right;
    margin-top: 100px;
    margin-left: 60px;
}

.signup-button {
    background-color: #3882F6;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: large;
}

/* RANDOM INFORMATION SECTION */

.info-header-text {
    color: #1F2937;
    font-size: 2.25rem;
    font-weight: 900;
    text-align: center;
    margin: 5% 0 5% 0 ;
}
.random-info {
    /* background-color: #F9FAF8; */
    width: 100%;
    height: 80vh;
}

.sub-text-img-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sub-text-img-container img {
    width: 100%;
    height: 150px;
    margin: 0 0 10px 0;
    border-radius: 15px;
}

.sub-text-img {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    height: 50vh;
    width: 13%;
    margin: 0 20px 0 20px;
}

.subtext {
    /* display: table-caption;
    caption-side: bottom; */
    width: 100%;
    /* border: 1px solid green; */
    text-align: center;
}

/* QUOTE */

.quote-section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    width: 100%;
    height: 70vh;
}


.quote-text {
    /* display: flex; */
    /* flex-basis: 3; */
    /* border: 1px solid green; */
    width: 100%;
    vertical-align: middle;
    font-size: 2.25rem;
    font-style: italic;
    padding: 0% 15% 0% 15%;
    margin: 17% 0 0 0;
    color: #1F2937;
}

.quote-author{
    /* border: 1px solid blue; */
    color: #1F2937;
    margin: 5px 5% 15% 25%;
    
}